# Ignorar a pasta do python descompactada (gerada pelo setup) e os dados em var
usr/python/
usr/Scripts/
usr/Lib/
var/

# Manter os BATs (para quem for instalar)
!usr/*.bat

# Ignorar cache e compilados
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignorar logs e bancos de dados locais (se houver SQLite)
*.log
*.db
*.db3
*.sqlite3
